.calculator {
  text-align: center;
  margin: 50px auto;
  width: 300px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.button-container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.result {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }